h1 {
    color: darkblue;
    font-size: 60px;
}

body {
    background: #f4f4f4;
}

#demo{
    color: red;
    font-size: 22px;
}

/* Smaller button styling */
.small-button {
  font-size: 12px; /* Adjust text size */
  padding: 5px 10px; /* Adjust padding */
  border-radius: 4px; /* Optional rounded corners */
}

textarea {
  width: 100%; /* Adjust to container width */
  height: 150px; /* Adjust to container height */
  overflow: auto; /* Ensure scrollbars are always visible */
  resize: vertical; /* Allow only vertical resizing */
  font-family: Arial, sans-serif;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
}
table, th, td {
  border: 0px solid black;
}
td {
  padding: 5px;
  border: none;
}
input[type="text"] {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="number"] {
width: 50px;
text-align: center;
border: 1px solid #ccc;
border-radius: 4px;
}