{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1>Create Linear System</h1>
  <div class="controls">
    <label for="nr_equations">Nr. Equations:</label>
    <input type="number" id="nr_equations" value={{ nr_equations }} min="1" onchange="updateMatrix()" required>
    <label for="nr_variables">Nr. Variables:</label>
    <input type="number" id="nr_variables" value={{ nr_variables }} min="1" onchange="updateMatrix()" required>
  </div>
  <div id="matrix-container">
      <form method="POST" action="{{ url_for('process_matrix', nr_equations=nr_equations, nr_variables=nr_variables) }}">
        <table>
            {% for i in range(nr_equations) %}
            <tr>
                {% for j in range(nr_variables) %}
                  {% if j > 0 %}
                    <td>\(+\)</td>
                  {% endif %}
                <td><input type="text" name="matrix_{{ i }}_{{ j }}" required>\(x_{{ j + 1 }}\)</td>
                {% endfor %}
                <td>\(=\)</td>
                <td><input type="text" name="matrix_{{ i }}_{{ nr_variables }}" required></td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<script>
function updateMatrix() {
    const nr_equations = document.getElementById("nr_equations").value;
    const nr_variables = document.getElementById("nr_variables").value;

    window.location.href = `/create-linear-system?nr_equations=${nr_equations}&nr_variables=${nr_variables}`;
}
</script>
{% endblock %}